
body{
    background-color: redm;
}

label{
    font-size: 15px;
    font-weight: 1000;
    color: black
}

.legenda{
    color: black;
    /*text-align: center;*/
    font-weight: 500;
    font-size: 20px;
    border: transparent;
    width: 50px;
}
.legenda:hover{
    background-color: grey;
}

.leftBorder{
    margin-right: 50px;
    border-left: 3px solid black;
    border-right: 10px;
}

.bottomBorder{
    border-bottom: 3px solid black;
}

/* Montagem de celulas dio grafico Manchester*/
.mch0p1{
    border-right: 3px solid #800000;
}
.mch0p11{
    border-right: 3px solid #800000;
    border-left: 3px solid #800000;
}
.mch0p2{
    border-bottom: 3px solid #800000;
}

.mch1p1{
    border-bottom: 3px solid #800000;
    border-right: 3px solid #800000;
    height:80px
}
.mch1p11{
    border-bottom: 3px solid #800000;
    border-right: 3px solid #800000;
    border-left: 3px solid #800000;
    height:80px
}
.mch1p2{/* Mesmo probleminha nunca da pra por no top*/
    border-top: 3px solid #800000;
}

/* Montagem de celulas do grafico Manchester Diferencial */

.dmch0p1{/*Sem inversão*/
    border-right: 3px solid #800000;
    border-left: 3px solid #800000;
    border-bottom: 3px solid #800000;
}
.dmch0p2{
    border-top: 3px solid #800000;
}
.dmch0p1Inv{/*Sem inversão*/
    border-right: 3px solid #800000;
    border-left: 3px solid #800000;
    border-top: 3px solid #800000;
}
.dmch0p2Inv{/*Sem inversão*/
    border-bottom: 3px solid #800000;
}

.dmch1p1{
    border-top: 3px solid #800000;
    border-right: 3px solid #800000;
    height:80px
}
.dmch1p2{/* Mesmo probleminha nunca da pra por no top*/
    border-bottom: 3px solid #800000;
}
.dmch1p1Inv{
    border-right: 3px solid #800000;
    border-bottom: 3px solid #800000;
    height:80px
}
.dmch1p2Inv{
    border-top: 3px solid #800000;
}

/* Montagem das celulas do grafico RZ
/* Caso de 1 e 1 repetido mas n funcionou então esta no proprio codigo */
.rz1 {
    border-left:3px solid #800000;
    border-top: 3px solid #800000;
}
.rz11{/*N funciona*/
    border-top: 3px solid #800000;
}

/* Casos de 0 e 0 repetido */
.rz0 {
    border-left: 3px solid #800000;
    border-bottom:3px solid #800000;
}
.rz00{
    border-bottom: 3px solid #800000;
}


